<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zig by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Zig by Example</a></h2>
      <p>
        <a href="https://ziglang.org">Zig</a> is a general-purpose programming language and
        toolchain for maintaining robust, optimal and
        reusable software. Be advised Zig has not yet reached the 1.0 release.
        Please read the
        <a href="https://ziglang.org/documentation/">official documentation</a>
        to learn more.
      </p>

      <p>
        <em>Zig by Example</em> is a clone of <em><a href="https://gobyexample.com/">Go by Example</a></em>
        and follows the same ethos: being a hands-on introduction to Zig using annotated example programs.
        Check out the <a href="/hello-world">first example</a> or browse the full list below.
         
      </p>

      <p>
        Unless stated otherwise, examples here assume the
        <a href="https://ziglang.org/download/">latest 0.X release of Zig</a>
        and may use new language features. Try to upgrade to the latest
        version if something isn't working.
      </p>

      <p>
        <small style="font-size: small;">
          A note from the author of the zig examples: <a href="http://github.com/notnotquinn/zig-by-example#note">read</a>
        </small>
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
